.header {

    background: var (--gray-300);
    display: flex;
    justify-content: center;    
    padding: 1,25rem 0;
    background-color: #3d3c3c;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.header img {

    height: 1rem;
    
}


    ;